bitwarden/session.json
[
    {
        "id": "c0adfe852a1cce54",
        "type": "subflow",
        "name": "BW_SESSION",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 160,
                "wires": [
                    {
                        "id": "146323ebd000a1a7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 180,
                "wires": [
                    {
                        "id": "e8379b157c9f1c3c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 320,
            "y": 420,
            "wires": [
                {
                    "id": "8e19b23e99cd5cc9",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "5a73bae05204ceb2",
        "type": "exec",
        "z": "c0adfe852a1cce54",
        "command": "bw login --response --apikey --nointeraction",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "bw login",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "ab86129b090c54b3"
            ],
            [],
            []
        ]
    },
    {
        "id": "7ade87f74c832970",
        "type": "exec",
        "z": "c0adfe852a1cce54",
        "command": "bw status --response --nointeraction",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "bw status",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "38f0a0c9ffa41c0c"
            ],
            [],
            []
        ]
    },
    {
        "id": "773d6fe2ad672f99",
        "type": "debug",
        "z": "c0adfe852a1cce54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "38f0a0c9ffa41c0c",
        "type": "json",
        "z": "c0adfe852a1cce54",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "bcf28d1ce0d168c7",
                "6a19a3d380b0c67c"
            ]
        ]
    },
    {
        "id": "bcf28d1ce0d168c7",
        "type": "switch",
        "z": "c0adfe852a1cce54",
        "name": "",
        "property": "payload.data.template.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unauthenticated",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "773d6fe2ad672f99",
                "5a73bae05204ceb2"
            ],
            [
                "1f75de3f8e16a724"
            ]
        ]
    },
    {
        "id": "1f75de3f8e16a724",
        "type": "exec",
        "z": "c0adfe852a1cce54",
        "command": "bw unlock --response --passwordenv BW_PASSWORD",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "bw unlock",
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "f444486395bb183c"
            ],
            [],
            []
        ]
    },
    {
        "id": "ab86129b090c54b3",
        "type": "json",
        "z": "c0adfe852a1cce54",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "1406326bea9abd1b"
            ]
        ]
    },
    {
        "id": "9552730b9f46eaa6",
        "type": "debug",
        "z": "c0adfe852a1cce54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a19a3d380b0c67c",
        "type": "debug",
        "z": "c0adfe852a1cce54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 320,
        "wires": []
    },
    {
        "id": "1406326bea9abd1b",
        "type": "switch",
        "z": "c0adfe852a1cce54",
        "name": "",
        "property": "payload.success",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 320,
        "wires": [
            [
                "1f75de3f8e16a724"
            ],
            [
                "9552730b9f46eaa6"
            ]
        ]
    },
    {
        "id": "d3735d3c62c8a9c6",
        "type": "function",
        "z": "c0adfe852a1cce54",
        "name": "",
        "func": "global.set('BW_SESSION', msg.payload.data.raw)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 340,
        "wires": [
            [
                "e8379b157c9f1c3c"
            ]
        ]
    },
    {
        "id": "f444486395bb183c",
        "type": "json",
        "z": "c0adfe852a1cce54",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1050,
        "y": 180,
        "wires": [
            [
                "d3735d3c62c8a9c6"
            ]
        ]
    },
    {
        "id": "146323ebd000a1a7",
        "type": "switch",
        "z": "c0adfe852a1cce54",
        "name": "",
        "property": "BW_SESSION",
        "propertyType": "global",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "e8379b157c9f1c3c"
            ],
            [
                "7ade87f74c832970"
            ]
        ]
    },
    {
        "id": "e8379b157c9f1c3c",
        "type": "function",
        "z": "c0adfe852a1cce54",
        "name": "",
        "func": "msg.payload = global.get('BW_SESSION');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8e19b23e99cd5cc9",
        "type": "status",
        "z": "c0adfe852a1cce54",
        "name": "",
        "scope": null,
        "x": 180,
        "y": 420,
        "wires": [
            []
        ]
    }
]
